//bouts de code réétulisable avec des paramètres//
//Pour importer : @import './_mixins';//

//pour le mettre dans scss //

@mixin absolute-el ($top, $right, $bottom, $left, $x, $y){

        position: absolute;
        top:$top;
        right:$right;
        bottom: $bottom;
        left: $left;
        transform: translate($x,$y)
}

@mixin typo ($font-family, $font-size, $line-height, $color){

        text-align: center;
        font-family:$font-family;
        font-size:$font-size;
        line-height:$line-height;
        color:$color;
        
}

@mixin wihe ($width, $height){
        width:$width;
        height: $height;
}