//bouts de code réétulisable sans paramètres ---POUR FAIRE DU CODE DRY---/
//Pour importer : @import './_placeholders';//


%flex-center{

        display: flex;
        justify-content: center;
        align-items:center; 

}

%background{
        background-position: center;
        background-repeat: no-repeat;
}

%tailleicon{
        width:2em;
        height:2em;
}

%modifpic{    
        width:5em;
        height: 5em;
        background-size: cover;
        border-radius: 50%;
        margin: 1em 8.4em;}