//couleurs de bases//



//-----------------------------------------COULEURS---------------------------------------//

//POUR MENU BURGER
$fond-burger:#FFFCF8;
$button-jaune:#FBD600;
$txt-button:#808397;

//POUR FOND BLANC SANS IMAGE

$fond-clair: #F2F2F2;
$titre-fond-blanc:#24303E;
$txt-fond-clair:#545769;

//POUR IMAGE CERISE

$titre-cerise:#24554A;

//POUR IMAGE MANDARINE

$titre-mand:#052C3B;
$txt-mand:#19536C;

//POUR PARTIE CLIENT

$titre-nom-client:#6d7074;
$txt-client:#33383f;

//POUR PARTIE ABOUT 

$fond-bleu-clair:#90D4C6;
$titre-about: #2C7566;
$txt-about:#458D7E;

//-----------------------------------------COULEURS---------------------------------------//