#pinterest, #twitter, #insta, #facebook, #logobottom, #jennypic, #thomaspic, #emilypic, #img4, #img3, #img2, #img1, #mandarine, #cerise, #cup, #oeuf, #arrow, #logotop, #burger, #orange {
  background-position: center;
  background-repeat: no-repeat;
}

html, body {
  margin: 0 auto;
}

#orange {
  display: grid;
  width: auto;
  height: 27em;
  background-image: url(images/photos/image-header.jpg);
  background-size: cover;
}

#burger {
  grid-area: 1/2/2/2;
  margin-top: 1em;
  margin-left: 8em;
  width: 3em;
  height: 3em;
  background-image: url(images/icons/icon-hamburger.svg);
}

#logotop {
  margin: 1em;
  width: 8em;
  height: 3em;
  background-image: url(images/logo.svg);
}

#arrow {
  grid-area: 2/2/5/3;
  margin: 7em 10em 0em 0em;
  width: 3em;
  height: 7em;
  background-image: url(images/icons/icon-arrow-down.svg);
}

#oeuf {
  width: auto;
  height: 20em;
  background-image: url(images/photos/image-transform.jpg);
  background-size: 25em;
  background-repeat: no-repeat;
}

#cup {
  width: auto;
  height: 23.5em;
  background-image: url(images/photos/image-stand-out.jpg);
  background-size: 25em;
}

#cerise {
  width: auto;
  height: 35em;
  background-image: url(images/photos/image-graphic-design.jpg);
  background-size: cover;
}

#mandarine {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  width: auto;
  height: 30em;
  background-image: url(images/photos/image-photography.jpg);
  background-size: cover;
}

#fourimages {
  width: auto;
  height: 23em;
  display: grid;
}

#img1 {
  grid-area: 1/1/2/2;
  background-image: url(images/photos/image-gallery-milkbottles.jpg);
  background-size: 12.5em;
}

#img2 {
  grid-area: 1/2/2/3;
  background-image: url(images/photos/image-gallery-orange.jpg);
  background-size: 12.5em;
}

#img3 {
  grid-area: 2/1/3/2;
  background-image: url(images/photos/image-gallery-cone.jpg);
  background-size: 12.5em;
}

#img4 {
  grid-area: 2/2/3/3;
  background-image: url(images/photos/image-gallery-sugarcubes.jpg);
  background-size: 12.5em;
}

.tpara {
  text-align: center;
  font-family: Fraunces;
  font-size: 2em;
  line-height: 1.5em;
  color: #24303E;
  max-width: 95%;
}

.clientname {
  text-align: center;
  font-family: Fraunces;
  font-size: 1.1em;
  line-height: 1.8em;
  color: #24303E;
}

.job {
  text-align: center;
  font-family: Barlow;
  font-size: 0.875em;
  line-height: 1.8em;
  color: #A7AAAD;
  padding-bottom: 2em;
}

#wac {
  text-align: center;
  font-family: Fraunces;
  font-size: 2.2em;
  line-height: 1.08em;
  color: white;
  grid-area: 2/1/4/3;
  letter-spacing: 0.2em;
  margin-bottom: 8em;
  text-transform: uppercase;
}

p {
  text-align: center;
  font-family: Barlow;
  font-size: 1em;
  line-height: 1.8em;
  color: #808397;
  padding: 0em 1em;
}

ul li {
  list-style-type: none;
}

#tcer {
  text-align: center;
  font-family: Fraunces;
  font-size: 1.75em;
  line-height: 2.15em;
  color: #24554A;
  padding-top: 12em;
}

#pcer {
  color: #24554A;
  padding-top: 0.1em;
}

#tmand {
  text-align: center;
  font-family: Fraunces;
  font-size: 1.75em;
  line-height: 2.15em;
  color: #052C3B;
  grid-area: 3/1/3/3;
}

#pmand {
  color: #19536C;
  grid-area: 4/1/4/3;
}

#titreclient {
  margin: 3em;
  text-transform: uppercase;
  text-align: center;
  font-family: Fraunces;
  font-size: 1em;
  line-height: 1.25em;
  color: #A7AAAD;
}

#logobottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

a {
  text-align: center;
  font-family: Fraunces;
  font-size: 0.9em;
  line-height: 1.5em;
  color: #24303E;
  display: flex;
  justify-content: center;
}

#standlink {
  text-decoration: underline;
  -webkit-text-decoration-color: #FE7766;
          text-decoration-color: #FE7766;
  text-decoration-thickness: 0.3em;
}

#translink {
  text-decoration: underline;
  -webkit-text-decoration-color: #FAD400;
          text-decoration-color: #FAD400;
  text-decoration-thickness: 0.3em;
}

#emilypic {
  width: 5em;
  height: 5em;
  background-image: url(images/people/image-emily.jpg);
  background-size: cover;
  border-radius: 50%;
  margin: 1em 8.4em;
}

#thomaspic {
  width: 5em;
  height: 5em;
  background-image: url(images/people/image-thomas.jpg);
  background-size: cover;
  border-radius: 50%;
  margin: 1em 8.4em;
}

#jennypic {
  width: 5em;
  height: 5em;
  background-image: url(images/people/image-jennie.jpg);
  background-size: cover;
  border-radius: 50%;
  margin: 1em 8.4em;
}

#about {
  width: auto;
  height: 20em;
  background-color: #90D4C6;
  background-size: cover;
}

#logobottom {
  margin-left: 5.5em;
  padding-top: 5em;
  width: 11em;
  height: 1em;
  background-image: url(images/logo.svg);
}

#list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-right: 3em;
  margin-bottom: 3em;
  text-align: center;
  font-family: Barlow;
  font-size: 1em;
  line-height: 1.8em;
  color: #458D7E;
}

#icons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 2em;
}

#facebook {
  width: 2em;
  height: 2em;
  background-image: url(images/icons/icon-facebook.svg);
}

#insta {
  width: 2em;
  height: 2em;
  background-image: url(images/icons/icon-instagram.svg);
}

#twitter {
  width: 2em;
  height: 2em;
  background-image: url(images/icons/icon-twitter.svg);
}

#pinterest {
  width: 2em;
  height: 2em;
  background-image: url(images/icons/icon-pinterest.svg);
}/*# sourceMappingURL=style.css.map */