@import './scss/_mixins';
// pour importer un élément: @include absolute-el()
@import './scss/_placeholders'; 
// pour importer un élément: @extend %lenomdetonplaceholder
@import './scss/_variables';
// pour importer un élément: $exemplecouleur

//-------------------------------------------------------------------------------------------------------------------//

html, body{
    margin:0 auto;
}


//------------------------------------------------------FOND---------------------------------------------------------//

#orange{
    width: auto;
    height: 27em;
    background-image: url(images/photos/image-header.jpg);
    background-size: cover;
    @extend  %background;
}

#oeuf{
    width: auto;
    height: 20em;
    background-image: url(images/photos/image-transform.jpg);
    background-size: 25em;
    background-repeat:no-repeat;
}

#cup{

    width: auto;
    height: 23.5em;
    background-image:url(images/photos/image-stand-out.jpg);
    background-repeat: no-repeat;
    background-size: 25em;
    background-position: center;
}

#fourimages{
    width:auto;
    height:23em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
}

#img1{ 
    grid-area: 1 / 1 / 2 / 2; 
    background-image:url(images/photos/image-gallery-milkbottles.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12.5em;
}

#img2{ 
    grid-area: 1 / 2 / 2 / 3;
    background-image:url(images/photos/image-gallery-orange.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12.5em;
}

#img3{ 
    grid-area: 2 / 1 / 3 / 2;
    background-image:url(images/photos/image-gallery-cone.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12.5em;
}
#img4 { 
    grid-area: 2 / 2 / 3 / 3; 
    background-image:url(images/photos/image-gallery-sugarcubes.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12.5em;
}

#about{

    width: auto;
    height: 20em;
    background-color:$fond-bleu-clair;
}

//------------------------------------------------------FOND---------------------------------------------------------//

//---------------------------------------------------TEXTES---------------------------------------------------------//

.tpara{
    @include typo(Fraunces, 2em, 2.4em, $titre-fond-blanc);
}

.clientname{
    @include typo(Fraunces, 1.1em, 1.8em, $titre-fond-blanc);
}

.job{
    @include typo(Barlow, 0.875em, 1.8em, $titre-nom-client);
}

#wac {
    @include typo(Fraunces,2.4em, 3.08em, white);
    letter-spacing: 0.3em;
}

p{
    @include typo(Barlow, 1.1em, 1.8em, $txt-fond-clair);
    padding:0em 1em;
}

ul li{
    list-style-type: none;
}

a{
    @include typo(Fraunces, 0.9em, 1.5em, $titre-fond-blanc);
    display:flex;
    justify-content: center;
}

#tcer{
    @include typo(Fraunces,1.75em,2.15em,$titre-cerise);
}

#tmand{
    @include typo(Fraunces,1.75em,2.15em,$titre-mand);
}

#titreclient{
    text-transform: capitalize;
    @include typo(Fraunces, 1em, 1.25em, $titre-nom-client);
}

//---------------------------------------------------TEXTES---------------------------------------------------------//

#emilypic{
    width:7em;
    height: 7em;
    background-image: url(images/people/image-emily.jpg);
    @extend  %background;
    border-radius: 50%;
    
}

#thomaspic{
    width:7em;
    height: 7em;
    background-image: url(images/people/image-thomas.jpg);
    border-radius: 50%;
}

#jennypic{
    width:7em;
    height: 7em;
    background-image: url(images/people/image-jennie.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}


