@import './scss/_mixins';
// pour importer un élément: @include absolute-el()
@import './scss/_placeholders'; 
// pour importer un élément: @extend %lenomdetonplaceholder
@import './scss/_variables';
// pour importer un élément: $exemplecouleur

//-------------------------------------------------------------------------------------------------------------------//

html, body{
    margin:0 auto;
}

//------------------------------------------------------FOND---------------------------------------------------------//

#orange{
    display: grid;
    @include wihe (auto, 27em);
    background-image: url(images/photos/image-header.jpg);
    background-size: cover;
    @extend  %background;
}

#burger{
    grid-area: 1 / 2 / 2 / 2;
    margin-top:1em;
    margin-left: 8em;
    @include wihe (3em, 3em);
    background-image:url(images/icons/icon-hamburger.svg);
    @extend  %background;
}

#logotop{
    margin:1em;
    @include wihe (8em, 3em);
    background-image:url(images/logo.svg);
    @extend  %background;
}

#arrow{
    grid-area: 2 / 2 / 5 / 3;
    margin: 7em 10em 0em 0em;
    @include wihe (3em, 7em);
    background-image:url(images/icons/icon-arrow-down.svg);
    @extend  %background;
}


//--------------------------------------------------------------------------//

#oeuf{
    @include wihe (23.5em, 20em);
    background-image: url(images/photos/image-transform.jpg);
    background-size: 25em;
    background-repeat:no-repeat;
    @extend  %background;
}

#cup{
    @include wihe (auto, 23.5em);
    background-image:url(images/photos/image-stand-out.jpg);
    background-size: 25em;
    @extend  %background;
}

#cerise{
    @include wihe (auto, 35em);
    background-image:url(images/photos/image-graphic-design.jpg);
    background-size: cover;
    @extend  %background;
}

#mandarine{
    display: grid;
    grid-template-rows: repeat(1, 1fr); 
    @include wihe (auto, 30em);
    background-image:url(images/photos/image-photography.jpg);
    background-size: cover;
    @extend  %background;
}

//--------------------------------------------------------------------------//

#fourimages{
    @include wihe (auto, 23em);
    display: grid;
}

#img1{ 
    grid-area: 1 / 1 / 2 / 2; 
    background-image:url(images/photos/image-gallery-milkbottles.jpg);
    @extend  %background;
    background-size: 12.5em;
}

#img2{ 
    grid-area: 1 / 2 / 2 / 3;
    background-image:url(images/photos/image-gallery-orange.jpg);
    @extend  %background;
    background-size: 12.5em;
}

#img3{ 
    grid-area: 2 / 1 / 3 / 2;
    background-image:url(images/photos/image-gallery-cone.jpg);
    @extend  %background;
    background-size: 12.5em;
}

#img4 { 
    grid-area: 2 / 2 / 3 / 3; 
    background-image:url(images/photos/image-gallery-sugarcubes.jpg);
    @extend  %background;
    background-size: 12.5em;
}

//---------------------------------------------------TEXTES---------------------------------------------------------//

.tpara{
    @include typo(Fraunces, 2em, 1.5em, $titre-fond-blanc);
    max-width:95%;
}

.clientname{
    @include typo(Fraunces, 1.1em, 1.8em, $titre-fond-blanc);
}

.job{
    @include typo(Barlow, 0.875em, 1.8em, $titre-nom-client);
    padding-bottom: 2em;
}

#wac {
    @include typo(Fraunces,2.2em, 1.08em, white);
    grid-area: 2 / 1 / 4 / 3;
    letter-spacing: 0.2em;
    margin-bottom: 8em;
    text-transform: uppercase;
}

p{
    @include typo(Barlow, 1em, 1.8em, $txt-fond-clair);
    padding:0em 1em;
}

ul li{
    list-style-type: none;
}

#tcer{
    @include typo(Fraunces,1.75em,2.15em,$titre-cerise);
    padding-top: 12em;
}

#pcer{
    color:$titre-cerise;
    padding-top:0.1em;
}

#tmand{
    @include typo(Fraunces,1.75em,2.15em,$titre-mand);
    grid-area: 3 / 1 / 3 / 3;
}

#pmand{
    color:$txt-mand;
    grid-area: 4 / 1 / 4 / 3;
}

#titreclient{
    margin: 3em;
    text-transform: uppercase;
    @include typo(Fraunces, 1em, 1.25em, $titre-nom-client);
}



//---------------------------------------------------LIENS---------------------------------------------------------//

a{
    @include typo(Fraunces, 0.9em, 1.5em, $titre-fond-blanc);
    display:flex;
    justify-content: center;
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-thickness: 0.3em;
}

#standlink{
    text-decoration-color:#FE7766;
}

#translink{
    text-decoration-color:#FAD400;
}

//---------------------------------------------------PHOTOSCLIENT ---------------------------------------------------------//

#emilypic{
    @extend %modifpic;
    background-image: url(images/people/image-emily.jpg);
    @extend  %background;
    background-size: cover;
}

#thomaspic{
    @extend %modifpic;
    background-image: url(images/people/image-thomas.jpg);
    background-size: cover;
    @extend  %background;
}

#jennypic{
    @extend %modifpic;
    background-image: url(images/people/image-jennie.jpg);
    @extend  %background;
}

//--------------------------------------------------------------------------//

#about{
    @include wihe (auto, 20em);
    background-color:$fond-bleu-clair;
    background-size: cover;
}

#logobottom{
    margin-left: 5.5em;
    padding-top: 5em;
    @include wihe (11em, 1em);
    background-image:url(images/logo.svg) ;
    @extend  %background;
}

#list{
    list-style-type: none;  
    display: flex;
    justify-content: space-between;
    margin-right: 3em;
    margin-bottom: 3em;
    @include typo(Barlow, 1em, 1.8em, $txt-about);
}

#icons{
    list-style-type: none;  
    display: flex;
    justify-content: center;
    padding: 2em ;
}

#facebook{
    @extend  %tailleicon;
    background-image:url(images/icons/icon-facebook.svg);
    @extend  %background;
}

#insta{
    @extend  %tailleicon;
    background-image:url(images/icons/icon-instagram.svg);
    @extend  %background;
}

#twitter{
    @extend  %tailleicon;
    background-image:url(images/icons/icon-twitter.svg);
    @extend  %background;
}

#pinterest{
    @extend  %tailleicon;
    background-image:url(images/icons/icon-pinterest.svg);
    @extend  %background;
}

//-------------------------------------------------------------------------MEDIAQUERRIES--------------------------------------------------------------------------------------------//


@media screen and (min-width: 1023px) {


html, body{
    margin:0;
}

#conteneur{
    display:flex;
    flex-direction: column;
}

#orange{
    width: auto;
    height: 60em;
    background-size: cover;
}
    
#burger{
    display: none;
}

#wac{
    font-size: 5em;
}

#logotop{
    width:15em;
    height: 6em;
    background-size: 15em;        
}

#arrow{
    width:50em;
    height:20em;
}

//--------------------------------------------------------------------------//

#oeufform{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr; 
}
    
#transform{
    grid-area: 1 / 1 / 2 / 2;
    width: auto;
    height: 40em;
}
    
#oeuf{
    grid-area: 1 / 2 / 2 / 3;
    width: auto;
    height: 40em;
    background-size: cover;
}
.tpara{
    text-align:left;
    margin:25% 20% 0% 15%;
}

.ppara{
    text-align:left;
    margin:5% 18% 0% 15%;
    max-width: 80%;
}

//--------------------------------------------------------------------------//
    
#cupstand{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr; 
}
    
#cup{
    grid-area: 1 / 1 / 2 / 2;
    width: auto;
    height: 40em;
    background-size: cover;
}
    
#stand{
    grid-area: 1 / 2 / 2 / 3;
    width: auto;
    height: 40em;
}
    
//--------------------------------------------------------------------------//

#cermand{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr; 
}
    
#cerise{
    grid-area: 1 / 1 / 2 / 2;
    width: auto;
    height: 40em;
}
    
#mandarine{
    grid-area: 1 / 2 / 2 / 3;
    width: auto;
    height: 40em;
}

//--------------------------------------------------------------------------//
    
#client{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding:4em 4em 4em 4em;
}
    
#titreclient{ 
    grid-area: 1 / 2 / 2 / 3; 
}
    
#emily{
    grid-area: 2 / 1 / 3 / 2;
}
    
#thomas{ 
    grid-area: 2 / 2 / 3 / 3;
}
    
#jenny { 
    grid-area: 2 / 3 / 3 / 4; 
}

#emilypic, #thomaspic, #jennypic{
    margin-left:15.8em;
} 

//--------------------------------------------------------------------------//
    
    #fourimages{
    height:30em;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}
    
    #img1{ 
    grid-area: 1 / 1 / 2 / 2;
    background-size: cover;
}
                
    #img2{ 
    background-size: cover;
    grid-area: 1 / 2 / 2 / 3; 
}
    
    #img3{ 
    background-size: cover;
    grid-area: 1 / 3 / 2 / 4;
}
    
    #img4{ 
    background-size: cover;
    grid-area: 1 / 4 / 2 / 5;
}

//--------------------------------------------------------------------------//

#list{
    justify-content: center;
}
#listservices, #listprojects{
    padding-left: 3em;
}

#facebook, #insta, #twitter, #pinterest{
    padding-left: 6em;
}
    
}