#jennypic, #arrow, #logotop, #burger {
  background-position: center;
  background-repeat: no-repeat;
}

#thomaspic, #emilypic, #img4, #img3, #img2, #img1, #mandarine, #cerise, #cup, #oeuf, #orange {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#jennypic, #thomaspic, #emilypic {
  width: 5em;
  height: 5em;
  background-size: cover;
  border-radius: 50%;
  margin: 2em 11em;
}

html, body {
  margin: 0 auto;
}

#orange {
  display: grid;
  width: auto;
  height: 30em;
  background-image: url(images/photos/image-header.jpg);
}

#burger {
  grid-area: 1/2/2/2;
  margin-top: 1em;
  margin-left: 11em;
  width: 3em;
  height: 3em;
  background-image: url(images/icons/icon-hamburger.svg);
}

#logotop {
  margin: 1em;
  width: 8em;
  height: 3em;
  background-image: url(images/logo.svg);
}

#arrow {
  grid-area: 2/2/5/3;
  margin: 7em 0em 0em 0.2em;
  width: 3em;
  height: 7em;
  background-image: url(images/icons/icon-arrow-down.svg);
}

#menu {
  display: none;
}

#oeuf {
  width: auto;
  height: 20em;
  background-image: url(images/photos/image-transform.jpg);
}

#cup {
  width: auto;
  height: 23.5em;
  background-image: url(images/photos/image-stand-out.jpg);
}

#cerise {
  width: auto;
  height: 35em;
  background-image: url(images/photos/image-graphic-design.jpg);
}

#mandarine {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  width: auto;
  height: 30em;
  background-image: url(images/photos/image-photography.jpg);
}

#fourimages {
  width: auto;
  height: 23em;
  display: grid;
}

#img1 {
  grid-area: 1/1/2/2;
  background-image: url(images/photos/image-gallery-milkbottles.jpg);
}

#img2 {
  grid-area: 1/2/2/3;
  background-image: url(images/photos/image-gallery-orange.jpg);
}

#img3 {
  grid-area: 2/1/3/2;
  background-image: url(images/photos/image-gallery-cone.jpg);
}

#img4 {
  grid-area: 2/2/3/3;
  background-image: url(images/photos/image-gallery-sugarcubes.jpg);
}

.tpara {
  text-align: center;
  font-family: Fraunces;
  font-size: 2em;
  line-height: 1.5em;
  color: #24303E;
  max-width: 95%;
  margin: 1em;
}

.ppara {
  margin: 1em;
}

.clientname {
  text-align: center;
  font-family: Fraunces;
  font-size: 1.1em;
  line-height: 1.8em;
  color: #24303E;
}

.job {
  text-align: center;
  font-family: Barlow;
  font-size: 0.875em;
  line-height: 1.8em;
  color: #6d7074;
  padding-bottom: 2em;
}

#wac {
  text-align: center;
  font-family: Fraunces;
  font-size: 2.2em;
  line-height: 1.08em;
  color: white;
  grid-area: 2/1/4/3;
  letter-spacing: 0.2em;
  margin-bottom: 8em;
  text-transform: uppercase;
}

p {
  text-align: center;
  font-family: Barlow;
  font-size: 1em;
  line-height: 1.8em;
  color: #545769;
  padding: 0em 1em;
}

ul li {
  list-style-type: none;
}

#tcer {
  text-align: center;
  font-family: Fraunces;
  font-size: 1.75em;
  line-height: 2.15em;
  color: #24554A;
  padding-top: 12em;
}

#pcer {
  color: #24554A;
  padding-top: 0.1em;
}

#tmand {
  text-align: center;
  font-family: Fraunces;
  font-size: 1.75em;
  line-height: 2.15em;
  color: #052C3B;
  grid-area: 3/1/3/3;
}

#pmand {
  color: #19536C;
  grid-area: 4/1/4/3;
}

#titreclient {
  margin: 3em;
  text-transform: uppercase;
  text-align: center;
  font-family: Fraunces;
  font-size: 1em;
  line-height: 1.25em;
  color: #6d7074;
}

a {
  text-align: center;
  font-family: Fraunces;
  font-size: 0.9em;
  line-height: 1.5em;
  color: #24303E;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  text-transform: uppercase;
  text-decoration-thickness: 0.3em;
  margin-bottom: 3em;
}

#standlink {
  -webkit-text-decoration-color: #FE7766;
          text-decoration-color: #FE7766;
}

#translink {
  -webkit-text-decoration-color: #FAD400;
          text-decoration-color: #FAD400;
}

#emilypic {
  background-image: url(images/people/image-emily.jpg);
}

#thomaspic {
  background-image: url(images/people/image-thomas.jpg);
}

#jennypic {
  background-image: url(images/people/image-jennie.jpg);
}

#about {
  width: auto;
  height: 25em;
  background-color: #90D4C6;
  background-size: cover;
}

#logobottom {
  fill: #2C7566;
  display: flex;
  justify-content: center;
  padding-left: 4.5em;
}

#list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-right: 3em;
  margin-bottom: 3em;
  text-align: center;
  font-family: Barlow;
  font-size: 1em;
  line-height: 1.8em;
  color: #458D7E;
}

#icons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 2em;
  fill: #2C7566;
}

#facebook, #insta, #twitter, #pinterest {
  padding: 1em;
}

@media screen and (min-width: 1023px) {
  #burger, #logotop, #arrow, #jennypic {
    background-position: center;
    background-repeat: no-repeat;
  }
  #orange, #oeuf, #cup, #cerise, #mandarine, #img1, #img2, #img3, #img4, #emilypic, #thomaspic {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #emilypic, #thomaspic, #jennypic {
    width: 5em;
    height: 5em;
    background-size: cover;
    border-radius: 50%;
    margin: 2em 11em;
  }
  html, body {
    margin: 0;
  }
  #conteneur {
    display: flex;
    flex-direction: column;
  }
  #orange {
    width: auto;
    height: 60em;
    background-size: cover;
  }
  #burger {
    display: none;
  }
  #wac {
    font-size: 4.5em;
  }
  #logotop {
    margin-top: 2em;
    width: 15em;
    height: 6em;
    background-size: 10em;
  }
  #arrow {
    margin-top: 15em;
    width: 5em;
    height: 15em;
    background-size: 70%;
  }
  #oeufform {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  #transform {
    grid-area: 1/1/2/2;
    width: auto;
    height: 40em;
  }
  #oeuf {
    grid-area: 1/2/2/3;
    width: auto;
    height: 40em;
    background-size: cover;
  }
  #menu {
    font-family: "Fraunces", serif;
    color: white;
    font-size: 0.9em;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-right: 3em;
    align-items: center;
  }
  button:hover {
    content: "";
    opacity: 0.25;
    display: block;
  }
  button {
    border: 0;
    cursor: pointer;
    background-color: white;
    padding: 0.6em 1em;
    border-radius: 1em;
  }
  .tpara {
    text-align: left;
    margin: 25% 20% 0% 17%;
  }
  .ppara {
    text-align: left;
    margin: 5% 18% 0% 15%;
    max-width: 80%;
  }
  a {
    display: flex;
    justify-content: flex-start;
    margin: 5em 0em 10em 8.2em;
  }
  #tcer {
    margin: 0;
    padding: 15.2em 0em 0em 0em;
  }
  #pmand {
    margin: 0em;
    padding: 0em 0em 5em 0em;
  }
  #cupstand {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  #cup {
    grid-area: 1/1/2/2;
    width: auto;
    height: 40em;
    background-size: cover;
  }
  #stand {
    grid-area: 1/2/2/3;
    width: auto;
    height: 40em;
  }
  #cermand {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  #cerise {
    grid-area: 1/1/2/2;
    width: auto;
    height: 40em;
    padding: 0em 5em;
  }
  #mandarine {
    grid-area: 1/2/2/3;
    width: auto;
    height: 40em;
    padding: 0em 5em;
  }
  #client {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 30em;
    margin: 3em 0em;
    padding: 0em 3em;
  }
  #titreclient {
    grid-area: 1/2/2/3;
    letter-spacing: 0.4em;
  }
  #emily {
    grid-area: 2/1/3/2;
    width: 24em;
  }
  #thomas {
    grid-area: 2/2/3/3;
    width: 27em;
  }
  #jenny {
    grid-area: 2/3/3/4;
    width: 24em;
  }
  #fourimages {
    height: 20em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  #img1 {
    grid-area: 1/1/2/2;
    background-size: cover;
  }
  #img2 {
    background-size: cover;
    grid-area: 1/2/2/3;
  }
  #img3 {
    background-size: cover;
    grid-area: 1/3/2/4;
  }
  #img4 {
    background-size: cover;
    grid-area: 1/4/2/5;
  }
  #list {
    justify-content: center;
  }
  #listservices, #listprojects {
    padding-left: 3em;
  }
  #listabout:hover {
    color: white;
    cursor: pointer;
  }
  #listservices:hover {
    color: white;
    cursor: pointer;
  }
  #listprojects:hover {
    color: white;
    cursor: pointer;
  }
  #facebook:hover {
    fill: white;
    cursor: pointer;
  }
  #insta:hover {
    fill: white;
    cursor: pointer;
  }
  #twitter:hover {
    fill: white;
    cursor: pointer;
  }
  #pinterest:hover {
    fill: white;
    cursor: pointer;
  }
}/*# sourceMappingURL=style.css.map */